<div>
  <div class="h3">Our mission</div>
  <p class="text-justify">
      Data is dull, without the appropriate representation one doesn't bother to develop a more profound understanding. We're proud to announce that we found a way to make the data more interesting to people, SatChat!
      SatChat is the new way to communicate to the satellites, nearing people to all the data provided by NASA and making the action of learning more interesting and interactive.
  </p>

  <div class="h3">Explaination</div>
  <p class="text-justify">
      Imagine that you're looking to the beautiful spectacle provided by our awesome milk way during a clear-sky night, wondering about how vast the universe is and how you'd like to see our colorful planet from another perspective. What about opening your phone, look at the millions of artificial things that our society put up there and talk to them? 
      Satchat makes it possible, for you to communicate with a satellite. The purpose, research, history and features will be provided to you by the Satellite itself. You'll be able to see the world from its immense lens and find out its real-time position around the globe. 
  </p>  
  
  <p>
      There is a spider-web of satellites on there, and they're all ready to talk to you now.
  </p>


</div>
  

