<div class ="row">
  <div class="col h3">Look at my videos</div>
</div>
<div class="row text-center" style="margin-left: 13%">
  <div class="col-4 text-center">
    <div class="row">
      <img src="../../../assets/images/photo_2019-10-20_12-51-05.jpg">
    </div>
    <div class="row">
      <div class="h5">2019-10-20</div>
    </div>
  </div>
  <div class="col-4 ">
      <div class="row text-center">
        <img src="../../../assets/images/photo_2019-10-20_12-51-07.jpg">
      </div>
      <div class="row">
        <div class="h5">2019-10-25</div>
      </div>
    </div>
    <div class="col-4 text-center">
        <div class="row">
          <img src="../../../assets/images/photo_2019-10-20_12-51-09.jpg">
        </div>
        <div class="row">
          <div class="h5">2019-10-30</div>
        </div>
      </div>
</div>
