<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">SatChat </a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>

    <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-xl-block">
            <a href="#chatfunction" class="nav-link btn mt-1"
                role="button" style="padding: .375rem 1rem !important;border-color: #999; ">
                Chat with me
            </a>
        </li> &nbsp;
        <li class="nav-item d-none d-xl-block">
            <a href="#generalinfofunction" class="nav-link btn mt-1" role="button"
                style="padding: .375rem 1rem !important;border-color: #999;">
                General Information
            </a>
        </li> &nbsp;
        <li class="nav-item d-none d-xl-block">
            <a href="#3Dworldfunction" class="nav-link btn mt-1" role="button"
                style="padding: .375rem 1rem !important;border-color: #999;">
                Look at World
            </a>
        </li> &nbsp;
        <li class="nav-item d-none d-xl-block">
            <a href="#video" class="nav-link btn mt-1" role="button"
                style="padding: .375rem 1rem !important;border-color: #999;">
                Video
            </a>
        </li> &nbsp;

    </ul>
</nav>