<!-- General information section-->

<div class="row" id="generalinfofunction">

    <div [@routerTransition] class="ml-3 .justify-content-start">
        <h3>General info</h3>
    </div>

    <div class="ml-3 h5 justify">
        <br><br>
        <p>Glance at the story of the satellite. About its project, history and general capability.</p>
        <ul style="background-color: gray; color: white;">
            <li>Hubble Space Telescope</li>
            <li>Nationality: United States</li>
            <li>Launch date: April 24, 1990, 12:33:51 UTC</li>
            <li>Decay date: estimated 2030-2040</li>
            <li>Duration: 29 years, 5 months, 22 days</li>
            <li>Total mass: 11,110 kg</li>
            <li>Velocity: 7.59 km/s</li>
        </ul>
    </div>
</div>